#carousel{
  width: 30%;
  height: 65%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
  margin-left: 35%;
}

#carousel:hover{
  animation-play-state: paused;
}

#carousel figure{
  display: block;
  position: absolute;
  width: 40%;
  height: 60%;
  left: 10px;
  top: 10px;
  background: none;
  overflow: hidden;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2){ transform: rotateY(36deg) translateZ(288px);}
#carousel figure:nth-child(3){ transform: rotateY(72deg) translateZ(288px);}
#carousel figure:nth-child(4){ transform: rotateY(108deg) translateZ(288px);}
#carousel figure:nth-child(5){ transform: rotateY(144deg) translateZ(288px);}
#carousel figure:nth-child(6){ transform: rotateY(180deg) translateZ(288px);}
#carousel figure:nth-child(7){ transform: rotateY(216deg) translateZ(288px);}
#carousel figure:nth-child(8){ transform: rotateY(252deg) translateZ(288px);}
#carousel figure:nth-child(9){ transform: rotateY(288deg) translateZ(288px);}
#carousel figure:nth-child(10){ transform: rotateY(324deg) translateZ(288px);}
#carousel figure:nth-child(11){ transform: rotateY(360deg) translateZ(288px);}

#carousel img{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all .5s ease;
  width: 50%;
}

#carousel img:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
  from{
      transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}

/* .gallery #skill-wrapper {
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
} */

/* .gallery #skill-wrapper #carousel img {
  width: 100px;
  height: 100px;
  object-fit: contain;
} */

/* .gallery #skill-wrapper #carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  place-items: center;
  padding: 0;
  grid-row-gap: 10px;
  width: 150%;
  position: relative;
} */

#xd_skill {
  width: 20%;
  object-fit: contain; 
}

#node_skill {
  width: 70px;
  /* height: 80px; */
  object-fit: contain; 
}

#uxui_skill  {
  width: 70px;
  /* height: 80px; */
  object-fit: contain; 
}

#github_skill{
  cursor: pointer;
}
