* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-weight: 300; */
  line-height: 1.5;
  color: #fff;
  background-color: #000;
}
a{
  text-decoration: none;
  font-weight: bolder;
  color: #f99613;
}
a:hover{
  color: #46bab2;
}
li {
  list-style-type: none;
}


